/vendor/
node_modules/
npm-debug.log
yarn-error.log

public_html/storage
public_html/hot

storage/*.key
.env

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

*.bak
