version: '3.9'

x-app-volumes: &app-dev-volumes


services:

  php:
    build:
      args:
      - INSTALL_XDEBUG=true
    ports:
      - "8080:8000"
      - "3000:3000"
      - "3001:3001"
    volumes:
      - type: bind
        source: ../app
        target: /var/www/app

  nginx:
    ports:
      - "50080:80"
    volumes:
      - type: bind
        source: ../app
        target: /var/www/app
